.bookmark {
  position: fixed;
  top: 10rem;
  left: 0;
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: $color-ter;
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 150;

  animation: move-right-left;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  &:hover {
    animation-play-state: paused;
  }

  &--active {
    animation: none;
    transform: translateX(-50%) scale(1.2);
    background-color: $color-pri;
    left: 50%;
  }
}
